Repository credfeto/credfeto-database-dapper, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, Credfeto.Database.Dapper, Interfaces, Pgsql, Pgsql.Tests, Shared, Shared.Tests, Tests

[Dependencies] Updating xunit (Test Infrastructure) to 2.5.1
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
Labels: C# Project, Change Log, Markdown, Pgsql.Tests, Shared.Tests, Tests

[Dependencies] Updating xunit.runner.visualstudio (Test Infrastructure) to 2.5.1
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
Labels: C# Project, Change Log, Markdown, Pgsql.Tests, Shared.Tests, Tests

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Cleanup] - Code cleanup on Credfeto.Database.Dapper.sln
  src/Credfeto.Database.Dapper.Interfaces/Credfeto.Database.Dapper.Interfaces.csproj
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Pgsql/Credfeto.Database.Dapper.Pgsql.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Shared/Credfeto.Database.Dapper.Shared.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
  src/Credfeto.Database.Dapper/Credfeto.Database.Dapper.csproj
Labels: C# Project, Credfeto.Database.Dapper, Interfaces, Pgsql, Pgsql.Tests, Shared, Shared.Tests, Tests

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.10.156
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
Labels: C# Project, Change Log, Markdown, Pgsql.Tests, Shared.Tests, Tests

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

Release notes for 1.0.21
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.12.90
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Shared/Credfeto.Database.Dapper.Shared.csproj
Labels: C# Project, Change Log, Markdown, Shared

Release notes for 1.0.22
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 9.11.0.78383
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Interfaces/Credfeto.Database.Dapper.Interfaces.csproj
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Pgsql/Credfeto.Database.Dapper.Pgsql.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Shared/Credfeto.Database.Dapper.Shared.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
  src/Credfeto.Database.Dapper/Credfeto.Database.Dapper.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Database.Dapper, Interfaces, Pgsql, Pgsql.Tests, Shared, Shared.Tests, Tests

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Polly (Policy based retrying) to 8.0.0
  CHANGELOG.md
  src/Credfeto.Database.Dapper/Credfeto.Database.Dapper.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Database.Dapper

Release notes for 1.0.23
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.87
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Interfaces/Credfeto.Database.Dapper.Interfaces.csproj
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Pgsql/Credfeto.Database.Dapper.Pgsql.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Shared/Credfeto.Database.Dapper.Shared.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
  src/Credfeto.Database.Dapper/Credfeto.Database.Dapper.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Database.Dapper, Interfaces, Pgsql, Pgsql.Tests, Shared, Shared.Tests, Tests

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.91
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Interfaces/Credfeto.Database.Dapper.Interfaces.csproj
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Pgsql/Credfeto.Database.Dapper.Pgsql.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Shared/Credfeto.Database.Dapper.Shared.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
  src/Credfeto.Database.Dapper/Credfeto.Database.Dapper.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Database.Dapper, Interfaces, Pgsql, Pgsql.Tests, Shared, Shared.Tests, Tests

[Dependencies] Updating Dapper (Database infrastructure) to 2.1.4
  CHANGELOG.md
  src/Credfeto.Database.Dapper/Credfeto.Database.Dapper.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Database.Dapper

[Dependencies] - Update .github/actions/dotnet-publish/action.yml to match the template repo
  .github/actions/dotnet-publish/action.yml
Labels: none

[Dependencies] - Update .github/actions/dotnet/action.yml to match the template repo
  .github/actions/dotnet/action.yml
Labels: none

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.92
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Interfaces/Credfeto.Database.Dapper.Interfaces.csproj
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Pgsql/Credfeto.Database.Dapper.Pgsql.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Shared/Credfeto.Database.Dapper.Shared.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
  src/Credfeto.Database.Dapper/Credfeto.Database.Dapper.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Database.Dapper, Interfaces, Pgsql, Pgsql.Tests, Shared, Shared.Tests, Tests

Release notes for 1.0.24
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.11.175
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
Labels: C# Project, Change Log, Markdown, Pgsql.Tests, Shared.Tests, Tests

[Dependencies] - Update .github/actions/build/action.yml to match the template repo
  .github/actions/build/action.yml
Labels: none

[Dependencies] - Update .github/actions/npm/action.yml to match the template repo
  .github/actions/npm/action.yml
Labels: none

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/reformat-sql.yml to match the template repo
  .github/workflows/reformat-sql.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/reformat-yaml.yml to match the template repo
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[Dependencies] - Update .github/actions/build-tools/action.yml to match the template repo
  .github/actions/build-tools/action.yml
Labels: none

[Dependencies] - Update .github/actions/build/action.yml to match the template repo
  .github/actions/build/action.yml
Labels: none

[Dependencies] - Update .github/actions/dotnet/action.yml to match the template repo
  .github/actions/dotnet/action.yml
Labels: none

[Dependencies] - Update .github/workflows/approve-dependabot.yml to match the template repo
  .github/workflows/approve-dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/build-and-publish-pre-release.yml to match the template repo
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/build-and-publish-release.yml to match the template repo
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Credfeto.Database.Dapper":
 - any: [ 'src/Credfeto.Database.Dapper/**/*' ]
"Interfaces":
 - any: [ 'src/Credfeto.Database.Dapper.Interfaces/**/*' ]
"Pgsql":
 - any: [ 'src/Credfeto.Database.Dapper.Pgsql/**/*' ]
"Pgsql.Tests":
 - any: [ 'src/Credfeto.Database.Dapper.Pgsql.Tests/**/*' ]
"Shared":
 - any: [ 'src/Credfeto.Database.Dapper.Shared/**/*' ]
"Shared.Tests":
 - any: [ 'src/Credfeto.Database.Dapper.Shared.Tests/**/*' ]
"Tests":
 - any: [ 'src/Credfeto.Database.Dapper.Tests/**/*' ]
