Repository credfeto/credfeto-database-dapper, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, Credfeto.Database.Dapper, Interfaces, Pgsql, Pgsql.Tests, Shared, Shared.Tests, Tests

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Credfeto.Database.Dapper":
 - any: [ 'src/Credfeto.Database.Dapper/**/*' ]
"Interfaces":
 - any: [ 'src/Credfeto.Database.Dapper.Interfaces/**/*' ]
"Pgsql":
 - any: [ 'src/Credfeto.Database.Dapper.Pgsql/**/*' ]
"Pgsql.Tests":
 - any: [ 'src/Credfeto.Database.Dapper.Pgsql.Tests/**/*' ]
"Shared":
 - any: [ 'src/Credfeto.Database.Dapper.Shared/**/*' ]
"Shared.Tests":
 - any: [ 'src/Credfeto.Database.Dapper.Shared.Tests/**/*' ]
"Tests":
 - any: [ 'src/Credfeto.Database.Dapper.Tests/**/*' ]

Fixed namespaces
  src/Credfeto.Database.Dapper.Pgsql/PostgresqlSetup.cs
  src/Credfeto.Database.Dapper.Shared.Tests/DependencyInjectionTests.cs
  src/Credfeto.Database.Dapper.Shared/Builders/ObjectCollectionBuilder.cs
  src/Credfeto.Database.Dapper.Shared/SharedDatabaseSetup.cs
  src/Credfeto.Database.Dapper/Database.cs
Labels: Credfeto.Database.Dapper, Pgsql, Shared, Shared.Tests

[FF-1429] - Update .github/workflows/build-and-publish-pre-release.yml to match the template repo
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/build-and-publish-release.yml to match the template repo
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[FF-1429] Updating Npgsql (PostgreSQL Data provider) to 7.0.2
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Pgsql/Credfeto.Database.Dapper.Pgsql.csproj
Labels: C# Project, Change Log, Markdown, Pgsql

[FF-1429] - Update .github/workflows/build-and-publish-release.yml to match the template repo
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[FF-1429] Updating Credfeto.Enumeration.Source.Generation (Code analysis) to 1.0.6.18
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Interfaces/Credfeto.Database.Dapper.Interfaces.csproj
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Pgsql/Credfeto.Database.Dapper.Pgsql.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Shared/Credfeto.Database.Dapper.Shared.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
  src/Credfeto.Database.Dapper/Credfeto.Database.Dapper.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Database.Dapper, Interfaces, Pgsql, Pgsql.Tests, Shared, Shared.Tests, Tests

[FF-1429] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

Release notes for 1.0.3
  CHANGELOG.md
Labels: Change Log, Markdown

[FF-1429] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.3.5
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Shared/Credfeto.Database.Dapper.Shared.csproj
Labels: C# Project, Change Log, Markdown, Shared

[FF-1429] Updating FunFair.Test.Common (Test Infrastructure) to 6.0.24.2725
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
Labels: C# Project, Change Log, Markdown, Pgsql.Tests, Shared.Tests, Tests

Release notes for 1.0.4
  CHANGELOG.md
Labels: Change Log, Markdown

[FF-1429] Updating Credfeto.Enumeration.Source.Generation (Code analysis) to 1.0.7.19
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Interfaces/Credfeto.Database.Dapper.Interfaces.csproj
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Pgsql/Credfeto.Database.Dapper.Pgsql.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Shared/Credfeto.Database.Dapper.Shared.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
  src/Credfeto.Database.Dapper/Credfeto.Database.Dapper.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Database.Dapper, Interfaces, Pgsql, Pgsql.Tests, Shared, Shared.Tests, Tests

Release notes for 1.0.5
  CHANGELOG.md
Labels: Change Log, Markdown

[FF-1429] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.4.6
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Shared/Credfeto.Database.Dapper.Shared.csproj
Labels: C# Project, Change Log, Markdown, Shared

[FF-1429] Updating FunFair.Test.Common (Test Infrastructure) to 6.0.25.2731
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
Labels: C# Project, Change Log, Markdown, Pgsql.Tests, Shared.Tests, Tests

Release notes for 1.0.6
  CHANGELOG.md
Labels: Change Log, Markdown

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 2.0.19
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Interfaces/Credfeto.Database.Dapper.Interfaces.csproj
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Pgsql/Credfeto.Database.Dapper.Pgsql.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Shared/Credfeto.Database.Dapper.Shared.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
  src/Credfeto.Database.Dapper/Credfeto.Database.Dapper.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Database.Dapper, Interfaces, Pgsql, Pgsql.Tests, Shared, Shared.Tests, Tests

[FF-1429] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[FF-1429] Updating FunFair.Test.Common (Test Infrastructure) to 6.0.26.2754
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
Labels: C# Project, Change Log, Markdown, Pgsql.Tests, Shared.Tests, Tests

[FF-1429] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[FF-1429] Updating SonarAnalyzer.CSharp (Code analysis) to 8.54.0.63966
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Interfaces/Credfeto.Database.Dapper.Interfaces.csproj
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Pgsql/Credfeto.Database.Dapper.Pgsql.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Shared/Credfeto.Database.Dapper.Shared.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
  src/Credfeto.Database.Dapper/Credfeto.Database.Dapper.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Database.Dapper, Interfaces, Pgsql, Pgsql.Tests, Shared, Shared.Tests, Tests

[FF-1429] Updating SonarAnalyzer.CSharp (Code analysis) to 8.54.0.64047
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Interfaces/Credfeto.Database.Dapper.Interfaces.csproj
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Pgsql/Credfeto.Database.Dapper.Pgsql.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Shared/Credfeto.Database.Dapper.Shared.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
  src/Credfeto.Database.Dapper/Credfeto.Database.Dapper.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Database.Dapper, Interfaces, Pgsql, Pgsql.Tests, Shared, Shared.Tests, Tests

[FF-1429] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/approve-dependabot.yml to match the template repo
  .github/workflows/approve-dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/build-and-publish-pre-release.yml to match the template repo
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/build-and-publish-release.yml to match the template repo
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/create-prs-for-stale-branches.yml to match the template repo
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/merge-dependabot.yml to match the template repo
  .github/workflows/merge-dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pr-update.yml to match the template repo
  .github/workflows/pr-update.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/reformat-sql.yml to match the template repo
  .github/workflows/reformat-sql.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/reformat-yaml.yml to match the template repo
  .github/workflows/reformat-yaml.yml
Labels: github-actions
