Repository credfeto/credfeto-database-dapper, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, Credfeto.Database.Dapper, Interfaces, Pgsql, Pgsql.Tests, Shared, Shared.Tests, Tests

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Credfeto.Database.Dapper":
 - any: [ 'src/Credfeto.Database.Dapper/**/*' ]
"Interfaces":
 - any: [ 'src/Credfeto.Database.Dapper.Interfaces/**/*' ]
"Pgsql":
 - any: [ 'src/Credfeto.Database.Dapper.Pgsql/**/*' ]
"Pgsql.Tests":
 - any: [ 'src/Credfeto.Database.Dapper.Pgsql.Tests/**/*' ]
"Shared":
 - any: [ 'src/Credfeto.Database.Dapper.Shared/**/*' ]
"Shared.Tests":
 - any: [ 'src/Credfeto.Database.Dapper.Shared.Tests/**/*' ]
"Tests":
 - any: [ 'src/Credfeto.Database.Dapper.Tests/**/*' ]

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.46
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Interfaces/Credfeto.Database.Dapper.Interfaces.csproj
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Pgsql/Credfeto.Database.Dapper.Pgsql.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Shared/Credfeto.Database.Dapper.Shared.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
  src/Credfeto.Database.Dapper/Credfeto.Database.Dapper.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Database.Dapper, Interfaces, Pgsql, Pgsql.Tests, Shared, Shared.Tests, Tests

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.47
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Interfaces/Credfeto.Database.Dapper.Interfaces.csproj
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Pgsql/Credfeto.Database.Dapper.Pgsql.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Shared/Credfeto.Database.Dapper.Shared.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
  src/Credfeto.Database.Dapper/Credfeto.Database.Dapper.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Database.Dapper, Interfaces, Pgsql, Pgsql.Tests, Shared, Shared.Tests, Tests

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.48
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Interfaces/Credfeto.Database.Dapper.Interfaces.csproj
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Pgsql/Credfeto.Database.Dapper.Pgsql.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Shared/Credfeto.Database.Dapper.Shared.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
  src/Credfeto.Database.Dapper/Credfeto.Database.Dapper.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Database.Dapper, Interfaces, Pgsql, Pgsql.Tests, Shared, Shared.Tests, Tests

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.49
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Interfaces/Credfeto.Database.Dapper.Interfaces.csproj
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Pgsql/Credfeto.Database.Dapper.Pgsql.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Shared/Credfeto.Database.Dapper.Shared.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
  src/Credfeto.Database.Dapper/Credfeto.Database.Dapper.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Database.Dapper, Interfaces, Pgsql, Pgsql.Tests, Shared, Shared.Tests, Tests

[Dependencies] - Update src\CodeAnalysis.ruleset to match the template repo
  src/CodeAnalysis.ruleset
Labels: Static Code Analysis Rules

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/actions/build-tools/action.yml to match the template repo
  .github/actions/build-tools/action.yml
Labels: none

[Dependencies] - Update src\CodeAnalysis.ruleset to match the template repo
  src/CodeAnalysis.ruleset
Labels: Static Code Analysis Rules

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 5.9.2.14
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Interfaces/Credfeto.Database.Dapper.Interfaces.csproj
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Pgsql/Credfeto.Database.Dapper.Pgsql.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Shared/Credfeto.Database.Dapper.Shared.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
  src/Credfeto.Database.Dapper/Credfeto.Database.Dapper.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Database.Dapper, Interfaces, Pgsql, Pgsql.Tests, Shared, Shared.Tests, Tests

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.50
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Interfaces/Credfeto.Database.Dapper.Interfaces.csproj
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Pgsql/Credfeto.Database.Dapper.Pgsql.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Shared/Credfeto.Database.Dapper.Shared.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
  src/Credfeto.Database.Dapper/Credfeto.Database.Dapper.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Database.Dapper, Interfaces, Pgsql, Pgsql.Tests, Shared, Shared.Tests, Tests

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.0.18
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Interfaces/Credfeto.Database.Dapper.Interfaces.csproj
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Pgsql/Credfeto.Database.Dapper.Pgsql.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Shared/Credfeto.Database.Dapper.Shared.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
  src/Credfeto.Database.Dapper/Credfeto.Database.Dapper.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Database.Dapper, Interfaces, Pgsql, Pgsql.Tests, Shared, Shared.Tests, Tests

[Dependencies] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] Updating Microsoft.NET.Test.Sdk (Test Infrastructure) to 17.6.0
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
Labels: C# Project, Change Log, Markdown, Pgsql.Tests, Shared.Tests, Tests

[SDK] - Updated DotNet SDK to 8.0.100-preview.4.23260.5
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] - Update CONTRIBUTING.md to match the template repo
  CONTRIBUTING.md
Labels: Markdown

[Dependencies] - Update SECURITY.md to match the template repo
  SECURITY.md
Labels: Markdown

[Dependencies] - Update .github/ISSUE_TEMPLATE/feature_request.md to match the template repo
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Markdown

[Dependencies] - Update .github/ISSUE_TEMPLATE/issue-report.md to match the template repo
  .github/ISSUE_TEMPLATE/issue-report.md
Labels: Markdown

Removed old workflows
  .github/workflows/stale.yml
Labels: github-actions

[Dependencies] - Update SECURITY.md to match the template repo
  SECURITY.md
Labels: Markdown

[Dependencies] - Update .github/workflows/reformat-sql.yml to match the template repo
  .github/workflows/reformat-sql.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/reformat-sql.yml to match the template repo
  .github/workflows/reformat-sql.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.52
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Interfaces/Credfeto.Database.Dapper.Interfaces.csproj
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Pgsql/Credfeto.Database.Dapper.Pgsql.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Shared/Credfeto.Database.Dapper.Shared.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
  src/Credfeto.Database.Dapper/Credfeto.Database.Dapper.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Database.Dapper, Interfaces, Pgsql, Pgsql.Tests, Shared, Shared.Tests, Tests

[Dependencies] Updating Microsoft.VisualStudio.Threading.Analyzers (Code analysis) to 17.6.40
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Interfaces/Credfeto.Database.Dapper.Interfaces.csproj
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Pgsql/Credfeto.Database.Dapper.Pgsql.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Shared/Credfeto.Database.Dapper.Shared.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
  src/Credfeto.Database.Dapper/Credfeto.Database.Dapper.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Database.Dapper, Interfaces, Pgsql, Pgsql.Tests, Shared, Shared.Tests, Tests

Release notes for 1.0.13
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] - Update src\global.json to match the template repo
  src/global.json
Labels: .NET update

[Dependencies] Updating coverlet (Code Coverage) to 6.0.0
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
Labels: C# Project, Change Log, Markdown, Pgsql.Tests, Shared.Tests, Tests

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.9.26
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Shared/Credfeto.Database.Dapper.Shared.csproj
Labels: C# Project, Change Log, Markdown, Shared

Release notes for 1.0.14
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.54
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Interfaces/Credfeto.Database.Dapper.Interfaces.csproj
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Pgsql/Credfeto.Database.Dapper.Pgsql.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Shared/Credfeto.Database.Dapper.Shared.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
  src/Credfeto.Database.Dapper/Credfeto.Database.Dapper.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Database.Dapper, Interfaces, Pgsql, Pgsql.Tests, Shared, Shared.Tests, Tests

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 9.1.0.70676
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Interfaces/Credfeto.Database.Dapper.Interfaces.csproj
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Pgsql/Credfeto.Database.Dapper.Pgsql.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Shared/Credfeto.Database.Dapper.Shared.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
  src/Credfeto.Database.Dapper/Credfeto.Database.Dapper.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Database.Dapper, Interfaces, Pgsql, Pgsql.Tests, Shared, Shared.Tests, Tests

[Dependencies] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions
