Repository credfeto/credfeto-database-dapper, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, Credfeto.Database.Dapper, Interfaces, Pgsql, Pgsql.Tests, Shared, Shared.Tests, Tests

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Credfeto.Database.Dapper":
 - any: [ 'src/Credfeto.Database.Dapper/**/*' ]
"Interfaces":
 - any: [ 'src/Credfeto.Database.Dapper.Interfaces/**/*' ]
"Pgsql":
 - any: [ 'src/Credfeto.Database.Dapper.Pgsql/**/*' ]
"Pgsql.Tests":
 - any: [ 'src/Credfeto.Database.Dapper.Pgsql.Tests/**/*' ]
"Shared":
 - any: [ 'src/Credfeto.Database.Dapper.Shared/**/*' ]
"Shared.Tests":
 - any: [ 'src/Credfeto.Database.Dapper.Shared.Tests/**/*' ]
"Tests":
 - any: [ 'src/Credfeto.Database.Dapper.Tests/**/*' ]

[Dependencies] - Update .github/workflows/build-and-publish-pre-release.yml to match the template repo
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] - Update .github/actions/sarif/action.yml to match the template repo
  .github/actions/sarif/action.yml
Labels: none

[Dependencies] - Update .github/workflows/approve-dependabot.yml to match the template repo
  .github/workflows/approve-dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/build-and-publish-pre-release.yml to match the template repo
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/build-and-publish-release.yml to match the template repo
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/create-prs-for-stale-branches.yml to match the template repo
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/merge-dependabot.yml to match the template repo
  .github/workflows/merge-dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pr-update.yml to match the template repo
  .github/workflows/pr-update.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/create-prs-for-stale-branches.yml to match the template repo
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Dependencies] - Update src/Credfeto.Database.Dapper.sln.DotSettings to match the template repo
  src/Credfeto.Database.Dapper.sln.DotSettings
Labels: none

[Dependencies] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/create-prs-for-stale-branches.yml to match the template repo
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pr-update.yml to match the template repo
  .github/workflows/pr-update.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update src/Credfeto.Database.Dapper.sln.DotSettings to match the template repo
  src/Credfeto.Database.Dapper.sln.DotSettings
Labels: none

[Dependencies] - Update .github/actions/build-tools/action.yml to match the template repo
  .github/actions/build-tools/action.yml
Labels: none

[Dependencies] - Update src/Credfeto.Database.Dapper.sln.DotSettings to match the template repo
  src/Credfeto.Database.Dapper.sln.DotSettings
Labels: none

[Dependencies] - Update src/Credfeto.Database.Dapper.sln.DotSettings to match the template repo
  src/Credfeto.Database.Dapper.sln.DotSettings
Labels: none

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/codeql-analysis-csharp.yml to match the template repo
  .github/workflows/codeql-analysis-csharp.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/codeql-analysis-javascript.yml to match the template repo
  .github/workflows/codeql-analysis-javascript.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/codeql-analysis-python.yml to match the template repo
  .github/workflows/codeql-analysis-python.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/dependabot.yml to match the template repo
  .github/dependabot.yml
Labels: none

Removed old workflows
  .github/workflows/codeql-analysis-csharp.yml
  .github/workflows/codeql-analysis-javascript.yml
  .github/workflows/codeql-analysis-python.yml
Labels: github-actions

[Dependencies] - Update .github/dependabot.yml to match the template repo
  .github/dependabot.yml
Labels: none

[Dependencies] - Update .editorconfig to match the template repo
  .editorconfig
Labels: none

[Dependencies] - Update .github/actions/build/action.yml to match the template repo
  .github/actions/build/action.yml
Labels: none

[Dependencies] - Update .github/actions/build/action.yml to match the template repo
  .github/actions/build/action.yml
Labels: none

Fixing versions
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Interfaces/Credfeto.Database.Dapper.Interfaces.csproj
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Pgsql/Credfeto.Database.Dapper.Pgsql.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Shared/Credfeto.Database.Dapper.Shared.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
Labels: C# Project, Change Log, Markdown, Interfaces, Pgsql, Pgsql.Tests, Shared, Shared.Tests, Tests

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.127
  CHANGELOG.md
  src/Credfeto.Database.Dapper.Interfaces/Credfeto.Database.Dapper.Interfaces.csproj
  src/Credfeto.Database.Dapper.Pgsql.Tests/Credfeto.Database.Dapper.Pgsql.Tests.csproj
  src/Credfeto.Database.Dapper.Pgsql/Credfeto.Database.Dapper.Pgsql.csproj
  src/Credfeto.Database.Dapper.Shared.Tests/Credfeto.Database.Dapper.Shared.Tests.csproj
  src/Credfeto.Database.Dapper.Shared/Credfeto.Database.Dapper.Shared.csproj
  src/Credfeto.Database.Dapper.Tests/Credfeto.Database.Dapper.Tests.csproj
  src/Credfeto.Database.Dapper/Credfeto.Database.Dapper.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Database.Dapper, Interfaces, Pgsql, Pgsql.Tests, Shared, Shared.Tests, Tests
